<div class="container">
  <div class="user-details">
    <h3>个人简介 </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Axure RP 8.0</p>
    </div>
    <div class="four columns">
      <h4>语言</h4>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Code Language：Object C，Swift,Java,.Net,Html,SQL Server,SQL,Sqlite</p>
    </div>
    <div class="four columns">
      <h4>IDE编辑工具</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Xcode 8,Android Studio,MySQL,</p>
    </div>
  </div>
</div>
