<div class="container">
  <div class="user-details">
    <h3> 热门文章 </h3>
  </div>
  
   <!--文章-->
  <div class="row user-projects">
    <div class="six columns">  <!-- <div class="six columns images">图片在右  <div class="six columns"> 图片在右--> 
      <img alt="mountains" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1490677646830&di=2e8e3d2417a3dfb027b27bd1e795f4b3&imgtype=0&src=http%3A%2F%2Fimg.lenovomm.com%2Fcrawler%40cluster-1%2Fams%2Ffileman%2Fimg%2Ficon%2F2015-03-25124641-_1427258801800_2403.png" />
    </div>
    <div class="six columns">
      <h5>玉米段子-更懂你的内涵糗事app </h5>
      <li> 老司机</li>
      <p>玉米段子致力于分享全球最新潮的冷笑话、雷人雷事、开心笑料、搞笑短信、时事趣闻、经典妙语以及让人捧腹的图片，一切皆为您开心一刻。欢迎与我们分享你的修养。一样的风格 不一样的内容！ 玉米段子（各种内涵搞笑段子） 糗百（看人生百态）！</p>
      <p>专注内涵本质，分享最真实最内涵的幽默段子，最有亮点的内涵趣图，屌丝最爱的美女福利，善于发现、打造最为经典的幽默平台，各种内涵，只有你懂得！</p>
      <p>made by linpeng</p>
      <a class="project-link" href="https://itunes.apple.com/cn/app/%E7%8E%89%E7%B1%B3%E6%AE%B5%E5%AD%90-%E6%9B%B4%E6%87%82%E4%BD%A0%E7%9A%84%E5%86%85%E6%B6%B5%E7%B3%97%E4%BA%8Bapp/id1153966877?mt=8">app下载</a>
    </div>
  </div>
  
  <!--文章-->
  <div class="row user-projects">
    <div class="six columns">  <!-- <div class="six columns images">图片在右  <div class="six columns"> 图片在右--> 
      <img alt="mountains" src="{{ "/assets/img/tl.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>年度最佳小说-一 </h5>
      <li> IT企业</li>
      <p>1、古代有一小姐，遇到一个上京赶考的穷书生避雨，发现其很有才华后，掏出一些银两并以身相许。次日，小姐垂泪送书生：“君若高中莫负妾身。”书生发誓后，走了。小姐让丫环把书生的名字纪录在册，丫环说：“这已经是第五十个书生了！”小姐说：“没办法，总有一个会真的考上的”。 
          ——2016最佳小说之《风投》</p>
      <p>2、书生让书童把一路上遇到的小姐们的名字一一记下，感叹说：这是第九十九个了啊！
          ——2016最佳小说之《融资》</p>
      <p>3、书童问书生：“公子，自从三年前你离家，如今已经睡了九十余名女子了。我们在各大赴京路上往复，难道就不去赶考了吗？”书生答:“赶考当大官不也是为了钱和女人吗？既得痴情女子九十有余，还赶着考啥”？
          ——2016最佳小说之《泡沫》</p>

      <p>4、抵京后书生把所带银两的十分之一让书童去京城赌场压了自己考不上。
          ——2016最佳小说之《对冲》</p>
     <a class="project-link" href="http://my.csdn.net/aa741649143">CSDN博客</a>
    </div>
  </div>
 
  <!--文章-->
  <div class="row user-projects">
    <div class="six columns">  <!-- <div class="six columns images">图片在右  <div class="six columns"> 图片在右--> 
      <img alt="mountains" src="{{ "/assets/img/cxy.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>年度最佳小说-二 </h5>
      <li> IT企业</li>
      <p>1.三月后，乃有43号书生进士及第，高中探花，诚不负鱼水之欢，前来迎娶，霎时间，凤冠霞帔，鼓乐喧天，好一番锦绣富贵。岂料25号书生高中状元，回乡省亲，顺道前来下聘，二书生争执不下，惊动地方，小姐眼看事败，遂投缳自尽，自挂东南枝。后丫鬟扶正，做了探花娘子，为念旧主之恩，于后花园建一亭，取名风投，逢初一十五敬香三柱，嗟叹不已！
——2016年最佳小说《借壳》</p>
      <p>2.书生被公主看中，免于应试，直接招了驸马。
——2016最佳小说之《上市》</p>
      <p>3.书生招驸马后，无法兑现对之前九十多名女子的承诺，前期九十多名女子的投资将血本无归，全部输光。
——2016最佳小说之《P2P》</p>
      <p>小姐得知书生发迹，知道前期投资已血本无归，逐上京击鼓鸣冤。
——2016最佳小说之《维权》</p>
      <p>京城乱成一团，圣上得知后大怒，休掉书生，午门斩首。
——2016最佳小说《退市》</p>
     <a class="project-link" href="http://my.csdn.net/aa741649143">CSDN博客</a>
    </div>
  </div>
  
 <!--文章--> 
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/my.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 程序员的故事 </h5>
      <li> hello world</li>
      <p>1.某程序员退休后决定练习书法，于是重金购买文房四宝。一日，饭后突生雅兴，一番研墨拟纸，并点上上好檀香。定神片刻，泼墨挥毫，郑重地写下一行字：hello world！</p>
      <p>2.我是一个苦b的程序员，今晚加班到快通宵了，困得快睁不开眼了，女上司很关心，问我要不要吃宵夜。我没好气地说，宵夜就算了，能让我睡一觉就行了。女上司红着脸说了句讨厌啊，然后坐在我身边不动，好像距离我很近，搞得我很紧张，难道她发现我的程序出了bug</p>
      <p>3.一女同学在食堂吃饭时，一程序猿凑到旁边，“同学，我能和你说话不，我已经一个月没和女生说话了。</p>
      <a class="project-link" href="http://www.jianshu.com/users/29e4ad9c848c/timeline">简书</a>
    </div>
  </div>
  
  <!--文章-->
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> 博客心得 </h5>
      <ul>
        <li> 第一篇文章 </li>
      </ul>
      <p>刚配置一个github博客，之前看到招聘网站上有备注，有github博客的优先，我偶尔喜欢去简书逛逛，写博客习惯了在CSDN上做笔记似的记录一些东西，我其实比较讨厌命令的形式来提交，什么git add，init， push,我偏向于可视化操作，所以这个文章我是先借用客户端：SourcesTree来clone代码，然后把下载好的jekyll上传到github，然后就在github里面编辑这些文章！</p>
      <a class="project-link" href="https://jacky-linpeng.github.io/webSite/">github博客</a>
    </div>
  </div>
  
  
</div>
